<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>  头像</string>
		</dict>
		<dict>
			<key>name</key>
			<string>* 姓名</string>
		</dict>
		<dict>
			<key>name</key>
			<string>  昵称</string>
		</dict>
		<dict>
			<key>name</key>
			<string>* 性别</string>
		</dict>
		<dict>
			<key>name</key>
			<string>* 出生年月</string>
		</dict>
		<dict>
			<key>name</key>
			<string>* 联系方式</string>
		</dict>
		<dict>
			<key>name</key>
			<string>* 家庭住址</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>  学历</string>
		</dict>
		<dict>
			<key>name</key>
			<string>  学校</string>
		</dict>
		<dict>
			<key>name</key>
			<string>  专业</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>  QQ </string>
		</dict>
		<dict>
			<key>name</key>
			<string>  email</string>
		</dict>
	</array>
</array>
</plist>
